* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  height: 95vh;
  width: 100vw;
  display: flex;
  background: #222222;
  font-size: 20px;
}
.menuWrapper {
  width: 100%;
  height: 100px;
  background-color: #1c5d99;
  display: flex;
  flex-flow: row nowrap;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}
.generateArray {
  color: white;
  padding-right: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  margin-left: 15px;
  border-right: solid white 2px;
  outline: none;
}
.size {
  padding-left: 15px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  height: 100%;
}
input {
  cursor: pointer;
  padding: 0 15px;
  background: none;
  border-right: solid white 2px;
}
input[type="range"] {
  -webkit-appearance: none;

  width: 150px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #639fab;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
  background: white;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #639fab;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #639fab;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #639fab;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

.sortButton {
  color: white;
  display: block;
  background: none;
  font-size: 1.2rem;
  padding: 0 50px;
  border: none;
  cursor: pointer;
  border-right: solid white 2px;
  outline: none;
}
.sortingAlgorithms {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.description {
  padding-left: 15px;
  display: block;
  font-size: 1.2rem;
}
.sortingAlgorithms__oneAlgorithm {
  color: white;
  display: block;
  background: none;
  border: none;
  border-right: solid white 2px;
  padding: 0 15px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}
.sortingAlgorithms__oneAlgorithm:last-child {
  border: none;
}
.arrayWrapper {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  bottom: 10px;
  align-items: baseline;
  margin-right: 2px;
}
.arrayBar {
  bottom: 0;
  display: block;
  margin-left: 2px;
  background: #bbcde5;
  background-size: cover;
}
.animated {
  background: red;
}
.bolded {
  font-weight: bold;
}
